In [1]:
# The code was removed by Watson Studio for sharing.

# Appending Latitude/Longitude
### Description
Here we simply take our final DataFrame from the previous step and merge it with a second DataFrame that contains the latitude and longitude information for each postal code.

### Import Libraries

In [2]:
import pandas as pd
import numpy as np

### Read in Data
We read our DataFrame from the previous section which was saved as neighborhoods.csv and the file that contains the latitude and logitude data - Geospatial_Coordinates.csv.

In [3]:
neighborhoods = pd.read_csv(project.get_file('neighborhoods.csv'))
neighborhoods.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Harbourfront, Regent Park
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park

In [6]:
lat_lon = pd.read_csv(project.get_file('Geospatial_Coordinates.csv'))
lat_lon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merging the DataFrames
By default, the `lat_lon` DataFrame has the postal code column labeled 'Postal Code' while the `neighborhoods` DataFrame has the equivalent column labeled 'PostalCode'. So we change the `lat_lon` column to match the `neighborhoods` column.

In [23]:
lat_lon.columns = ['PostalCode', 'Latitude', 'Longitude']
lat_lon.shape

(103, 3)

Lastly, we merge the two and take a look to make sure it worked as expected and kept the number of postal codes from the pre

In [25]:
final = neighborhoods.merge(lat_lon)
final.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724

In [26]:
project.save_data(data = final.to_csv(index = False), file_name = 'lat_lon.csv', overwrite = True)

{'asset_id': '27d05685-98d6-4fa9-93cd-0451330c324e',
 'bucket_name': 'capstoneprojectbattleoftheneighbo-donotdelete-pr-zevqh8gcg4tipk',
 'file_name': 'lat_lon.csv',
 'message': 'File saved to project storage.'}